doctype
<!--[if IE 8]><html class="lt-ie9 no-js"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
head
	include partials/header
body.login
	.contenedor-formulario
		h1 Iniciar Session
		if error
			p.alerta.error=error
		form#formulario.caja.caja-login(method='POST' action='/iniciar-session')
			.campo
				label(for='email') E-mail :
				input(type="email" name="email" placeholder="Tu email" value= email)
			.campo
				label(for='password') Password :
				input(type="password" name="password" placeholder="Tu Password" value= password)
			.campo.enviar
				input.boton(type="submit" value="Iniciar Session")
			.campo
				a(href="/crear-cuenta") ¿ Aun no tienes tu cuenta ? Crea una gratis
	script(src="/dist/bundle.js")