doctype
head
	include partials/header
body.login
	.contenedor-formulario
		h1=namepage
		p Coloca tu nuevo Pasword
		form.caja-login(method="POST")
			.campo
				label(for='password') Pasword :
				input(type="password" name="password" placeholder="Pasword")
			.campo.enviar
				input.boton(type="submit" value="Restablecer Password")
