doctype
head
	include partials/header
body.login
	.contenedor-formulario
		h1=namepage

		if locals.mensaje
			.alertas
				each categoria in Object.keys(locals.mensaje)
					each errorr in mensaje[categoria]
						.alerta(class=`${categoria}`)
							p=errorr
		p Agrega tu e-mail para restablecer tu contraseña
		form.caja-login(method="POST" action="/reestablecer")
			.campo
				label(for='email') E-mail :
				input(type="email" name="email" placeholder="Tu email" value= email)
			.campo.enviar
				input.boton(type="submit" value="Restablecer Password")
			.campo.acciones
				a(href="/iniciar-session") Ya lo recordé, volver a login
